<main>
<div class="perfil">
  <h1>Axel Leonel Alesso</h1>
  <p>"Desarrollador Web Full-Stack recibido en la UTN"</p>

  <div class="botones">
    <a href="/images/Axel Leonel Alesso.pdf" download class="btn-cv">CV</a>
    <a href="https://github.com/tuusuario" target="_blank" class="btn-github">
      <i class="fab fa-github"></i>
    </a>
  </div>
</div>

  <h2 id="servicios" class="titulo2">SERVICIOS</h2>
  <div class="servicios">
      <div class="tarjetas">
      <img class="img-servicios"  src="/images/sitio-web.png" alt="">
        <p class="text-servicios">DESARROLLO WEB</p>
      </div>
      <div class="tarjetas">
        <img class="img-servicios2" src="/images/motor-de-busqueda-web.png" alt="">
          <p class="text-servicios">DOMINIO Y HOSTING</p>
      </div>
      <div class="tarjetas">
        <img class="img-servicios3" src="/images/herramientas-manuales.png" alt="">
          <p class="text-servicios3">MANTENIMIENTO<br>
                Y<br>
              SOPORTE<br>
          </p>
      </div>
      <div class="tarjetas">
        <img class="img-servicios2" src="/images/telefono-inteligente.png" alt="">
          <p class="text-servicios">DISEÑO RESPONSIVE</p>
      </div>
  </div>



    <div class="Proyectos">
      <h1 id="proyectos"  class="titulo2">PROYECTOS PERSONALES</h1>
    <div class="card-padre">
        <div class="card" style="width: 18rem;">
          <img src="/images/todopelota.png" class="card-img-top" alt="Pagina de Noticias">
          <div class="card-body">
            <h5 class="card-title">Página Web de Noticias</h5>
            <a target="_blank"  href="https://github.com/Axelalesso/pagina_noticias"><img class="logo-git" src="/images/github.png" alt="link_TodoPelota"></a>
            <a target="_blank"  href="https://youtu.be/RHwBDBORu3M"><img class="logo-git" src="/images/youtube.png" alt="linkYT_TodoPelota"></a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/images/hardwarezone.png" class="card-img-top" alt="Tienda de Hardware">
          <div class="card-body">
            <h5 class="card-title">Tienda de Hardware</h5>
            <a target="_blank"  href="https://github.com/Axelalesso/pagina_hardware"><img class="logo-git" src="/images/github.png" alt="link_TodoHardware"></a>
            <a target="_blank"  href="https://youtu.be/F4_he9tMQWE"><img class="logo-git" src="/images/youtube.png" alt="linkYT_TodoHardware"></a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/images/mirumol.png" class="card-img-top" alt="Pagina de Estetica">
          <div class="card-body">
            <h5 class="card-title">Página Web de Estetica</h5>
            <a target="_blank" href="https://github.com/Axelalesso/pagina_mirumol"><img class="logo-git" src="/images/github.png" alt="link_Mirumol"></a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/images/tiendaEcommerce.png" class="card-img-top" alt="Tienda de Hardware">
          <div class="card-body">
            <h5 class="card-title">Tienda Ecommerce</h5>
            <a target="_blank"  href="https://github.com/Axelalesso/ecommerce-con-react"><img class="logo-git" src="/images/github.png" alt="link_TodoHardware"></a>
            <a target="_blank"  href="https://ecommerce-con-react-one.vercel.app"><img class="logo-git" src="/images/web.png" alt="linkYT_TodoHardware"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="Proyectos">
        <h1 id="Proyectos"  class="titulo4">CLIENTES</h1>
    <div class="card-padre">
        <div class="card" style="width: 18rem;">
          <img src="/images/ansiadamente.png" class="card-img-top" alt="Pagina de Noticias">
          <div class="card-body">
            <h5 class="card-title">ANSIADAMENTE</h5>
            <a target="_blank"  href="http://ansiadamente.com"><img class="logo-web" src="/images/web.png" alt="link de Ansiadamente"></a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/images/valtrion.png" class="card-img-top" alt="Pagina de Noticias">
          <div class="card-body">
            <h5 class="card-title">VALTRION</h5>
            <a target="_blank"  href="https://www.valtrion.com.ar"><img class="logo-web" src="/images/web.png" alt="link de Valtrion"></a>
          </div>
      </div>
    </div>
    </div>


<section id="habilidades" class="skills-section">
  <h2 class="skills-title">Mis Habilidades</h2>

  <div class="skills-container" id="skills-container"></div>

  <div class="skills-buttons">
    <button onclick="prevSkills()">⬅️ Anterior</button>
    <button onclick="nextSkills()">Siguiente ➡️</button>
  </div>
</section>
  
  <form class="row g-3 mx-auto p-4 shadow-lg rounded-4" action="/" method="post" style="max-width: 600px; background: #111;">
  <h2 id="contacto" class="text-center text-white mb-2">Contácto</h2>
  <span class="text-center mb-4" style="color:#00ff88;">
    ¿Querés que tu negocio tenga presencia online? <br> Completá el formulario 😉
  </span>

  <div class="col-12">
    <label for="email" class="form-label text-white">Correo</label>
    <input type="email" class="form-control rounded-3" id="email" placeholder="Ingresá tu correo electrónico" name="mail" required>
  </div>

  <div class="col-12">
    <label for="tel" class="form-label text-white">Teléfono</label>
    <input type="tel" class="form-control rounded-3" id="tel" placeholder="Ingresá tu número de teléfono" name="tel" required>
  </div>

  <div class="col-12">
    <label for="mensaje" class="form-label text-white">Mensaje</label>
    <textarea class="form-control rounded-3" id="mensaje" rows="4" placeholder="Escribí tu mensaje aquí..." name="mensaje" required></textarea>
  </div>

  <div class="col-12">
    <button type="submit" class="btn w-100 fw-bold btn-enviar">Enviar Mensaje</button>
  </div>

  {{message}}
</form>
</main> 
<script src="/javascripts/carrousel.js"></script>


