<div class="presentacion">
        <h2 class="titulo1">Axel Leonel Alesso</h2>
        <img  class="yo" src="/images/logo.png" alt="">
        <p class="text1">"Programador Front-End recibido en la UTN y estudiante de una diplomatura en programación Full-Stack".<br> 
        </p>
    </div>

  <h2 id="Servicios" class="titulo2">SERVICIOS</h2>
  <div class="servicios">
      <div class="tarjetas">
      <img class="img-servicios"  src="/images/sitio-web.png" alt="">
        <p class="text-servicios">DESARROLLO WEB</p>
      </div>
      <div class="tarjetas">
        <img class="img-servicios2" src="/images/motor-de-busqueda-web.png" alt="">
          <p class="text-servicios">DOMINIO Y HOSTING</p>
      </div>
      <div class="tarjetas">
        <img class="img-servicios3" src="/images/herramientas-manuales.png" alt="">
          <p class="text-servicios3">MANTENIMIENTO<br>
                Y<br>
              SOPORTE<br>
          </p>
      </div>
  </div>



    <div class="Proyectos">
        <h1 id="Proyectos"  class="titulo2">PROYECTOS PERSONALES</h1>
    <div class="card-padre">
        <div class="card" style="width: 18rem;">
          <img src="/images/todopelota.png" class="card-img-top" alt="Pagina de Noticias">
          <div class="card-body">
            <h5 class="card-title">Página Web de Noticias</h5>
            <a target="_blank"  href="https://github.com/Axelalesso/pagina_noticias"><img class="logo-git" src="/images/github.png" alt="link_TodoPelota"></a>
            <a target="_blank"  href="https://youtu.be/RHwBDBORu3M"><img class="logo-git" src="/images/youtube.png" alt="linkYT_TodoPelota"></a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/images/hardwarezone.png" class="card-img-top" alt="Tienda de Hardware">
          <div class="card-body">
            <h5 class="card-title">Tienda de Hardware</h5>
            <a target="_blank"  href="https://github.com/Axelalesso/pagina_hardware"><img class="logo-git" src="/images/github.png" alt="link_TodoHardware"></a>
            <a target="_blank"  href="https://youtu.be/F4_he9tMQWE"><img class="logo-git" src="/images/youtube.png" alt="linkYT_TodoHardware"></a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/images/mirumol.png" class="card-img-top" alt="Pagina de Estetica">
          <div class="card-body">
            <h5 class="card-title">Página Web de Estetica</h5>
            <a target="_blank" href="https://github.com/Axelalesso/pagina_mirumol"><img class="logo-git" src="/images/github.png" alt="link_Mirumol"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="Proyectos">
        <h1 id="Proyectos"  class="titulo4">CLIENTES</h1>
    <div class="card-padre">
        <div class="card" style="width: 18rem;">
          <img src="/images/ansiadamente.png" class="card-img-top" alt="Pagina de Noticias">
          <div class="card-body">
            <h5 class="card-title">ANSIADAMENTE</h5>
            <a target="_blank"  href="http://ansiadamente.com"><img class="logo-web" src="/images/web.png" alt="link_Ansiadamente"></a>
          </div>
        </div>
      </div>




          <form   class="row g-3" action="/"  method="post" >
            <h2 id="Contacto"  class="titulo3">Contáctanos</h2>
            <div class="col-12" class="contacto">
              <label for="email" class="form-label" style="color: black ;">Correo</label>
              <input type="email" class="form-control" id="email" placeholder="usuario@email.com"  name="mail">
            </div>
            <div class="col-12">
              <label for="tel" class="form-label"  style="color: black ;">Teléfono</label>
              <input type="text" class="form-control" id="tel" placeholder=""  name="tel" >
            </div>
            <div class="col-12">
              <label for="mensaje" class="form-label" style="color: black ;">Mensaje</label>
              <textarea class="form-control" id="mensaje" rows="3"  name="mensaje"    ></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Enviar</button>  
          </form>
            {{message}}
        </div>
      </div>
    </div>
    