body{
  background-color: #6dc96e;
}

.nav-logo{
width: 175px;
height: 150px;
}

.mi-navbar .nav-link {
  margin-left: 90px;
  font-family: "Audiowide", serif;
  color: greenyellow !important; /* Texto blanco */
}
.mi-navbar .nav-link:hover {
  color: #ff69b4 !important; /* Rosa fuerte al pasar el cursor */
}

.float{
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  bottom: 40px;
  right: 40px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow:  2px 2px 3px #999;
  z-index: 999;
}

.fa-whatsapp{
  font-size: 60px;
}

.float:hover{
  background-color: #2beb72;
}


.presentacion{
  background-color: white;
}

.titulo1{
  color: #6dc96e;
  text-align: center;
  font-family: "Audiowide", serif;
}

.titulo1:hover{
  color: #ff69b4;
}

.text1{
  text-align: center;
  font-family: "Funnel Display", serif;
  margin-top: 0px;
}

.Proyectos{
  margin-top: 100px;
  background-color: #6dc96e;
}

.titulo2{
  color: black;
  margin-top: 100px;
  font-family: "Audiowide", serif;
  text-align: center;
}

.titulo2:hover{
  color: #ff69b4;
}

.card-padre{
  margin-top: 10px;
  display: flex;
  gap: 1rem; /* Espaciado entre tarjetas */
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en líneas si no hay suficiente espacio */
  justify-content: center; /* Opcional: centra las tarjetas horizontalmente */
}

.card{
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra inicial */
  margin-top: 70px;
  margin-bottom: 100px;
}

.card:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.card-title{
  text-align: center;
  font-family: "Funnel Display", serif;

}

.logo-git{
  margin-left: 60px;
  width: 30px;
}

.botones{
  margin-bottom: 200px;
  margin-top: 100px;
  text-align: center;
}

.titulo3{
  font-family: "Audiowide", serif;
  color: #6dc96e;
  text-align: center;
}

.titulo3:hover{
  color: #ff69b4;
}

form{
  margin-top: 100px;
  background-color: white;
  text-align: center;
}



.form-control{
  background-color: #696969;
  width: 300px;
  height: 100px;
  margin-left: 500px;
  padding: 20px;

}

.form-control:hover{
  background-color: #696969;
}

.form-label{
  font-family: "Funnel Display", serif;
}

.footer{
  background-color: white;
}

.logo-footer{
  margin-top: 50px;
  margin-left: 580px;
  width: 40px;
}

.logo-footer2{
  margin-top: 50px;
  margin-left: 70px;
  width: 44px;
}

.servicios{
  margin-top: 50px;
  display: flex;
  gap: 3rem; /* Espaciado entre tarjetas */
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en líneas si no hay suficiente espacio */
  justify-content: center; /* Opcional: centra las tarjetas horizontalmente */
}


.tarjetas{
  background-color: whitesmoke;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  box-shadow : 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.tarjetas:hover{
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */

}

.img-servicios{
  margin-top: 20px;
  position: static;
  text-align: center;
  height: 80px;
  width: 70px;
  margin-left: 64px;
  
}

.img-servicios2{
  margin-top: 20px;
  position: static;
  text-align: center;
  height: 90px;
  width: 80px;
  margin-left: 62px;
}

.img-servicios3{
  margin-top: 22px;
  position: static;
  text-align: center;
  height: 80px;
  width: 70px;
  margin-left: 64px;
}


.text-servicios{
  margin-top: 20px;
  text-align: center;
  font-family: "Funnel Display", serif;
}

.text-servicios3{
  margin-top: 13px;
  text-align: center;
  font-family: "Funnel Display", serif;
}